altair==4.2.0
certifi==2022.9.14
hydra-core==1.2.0
matplotlib==3.6.2
numpy==1.23.3
omegaconf==2.2.2
pandas==1.4.4
pymongo==4.2.0
seaborn==0.12.1
SQLAlchemy==1.4.44
sseclient==0.0.27
streamlit==1.12.2
matplotlib==3.6.1
